.App {
  text-align: center;
  height: 100vh;
  

}

@media (max-width: 575.98px) { 
  .App{
    text-align: center;
    min-height: 100vh;
    height: auto;
    background-image: url(images/xs.jpg);
    background-size: cover;
    background-attachment: fixed;

  }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
  .App{
    text-align: center;
    min-height: 100vh;
    height: auto;
    background-image: url(images/xs.jpg);
    background-size: cover;
    background-attachment: fixed;

  }
 }